body {
  background: hsl(27, 66%, 92%);
  font-family: 'Noto Sans', sans-serif;
  text-align:center;
}

p{
  margin: 0 auto;
  color: #fff;

}

.amount1 {
  font-weight: 700;
  font-size: 18px;
}


.cont-right {
  float: left;
}

.cont-left{
  float: right;
}

.amount2 {
  font-size: 25px;
  font-weight: 900;
  color: hsl(25, 47%, 15%);
}

.mybalance{
  font-size: 12px;
}

.total-amount {
  font-size: 12px;
  color: hsl(28, 10%, 53%);
}

.box1 {
  text-align: left;
  float: left;
}

.title {
  padding: 0 0 20px 20px;
}

.spending{
  font-size: 20px;
  font-weight: 700;
  color: hsl(25, 47%, 15%);
  text-align: left;
}


.lastBox{
  padding-top: 10px;
}

.box2{
  text-align : right;
  float: right;
}

.percent {
  color: hsl(25, 47%, 15%);
  font-weight: 600;
  font-size: 15px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution { color: hsl(228, 45%, 44%); }

.container1 {
  background-color: hsl(10, 79%, 65%);
  text-align: left;
  width:400px;
  margin: 100px 470px 10px 470px;
  padding: 20px;
  border-radius: 8px;
  height: 50px;

}

.circle-img {
  float:right;
}

#container {
  background-color: hsl(33, 100%, 98%);
  width: 400px;
  margin: 0 470px 10px 470px;
  padding: 20px;
  border-radius: 8px;
  height: 340px;
}

#myChart {
  width:100%;
  max-width:440px;
  z-index:1;
}

@media screen and (max-width: 500px) {
  #container, .container1 {
    margin: 20px 45px 10px 45px;
    width: 350px;
  }
}
